/**
 * Custom CSS
 *
 * Add this to your Tailwind CSS file,
 * or to a separate, custom CSS file.
 *
 * Update the background images to suit
 * your project.
 */
.bg-header {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/thirdbg_zpsowawyfcj.jpg) center center no-repeat;
  background-attachment: fixed; background-color: black; background-size: cover; font-family: Notable;

}

.bg-quote {
  background: url(http://i50.photobucket.com/albums/f323/alchemist257/IMG_7911_zpssiic9vl1.jpg) center center no-repeat;
  background-attachment: fixed; background-color: black; background-size: cover;
}


